.center {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--tg-viewport-height);
  width: 100%;

  padding-top: calc(var(--tg-safe-area-inset-top, 0px));
  padding-bottom: calc(var(--tg-safe-area-inset-bottom, 0px));
  padding-left: calc(var(--tg-safe-area-inset-left, 0px));
  padding-right: calc(var(--tg-safe-area-inset-right, 0px));
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--width-default);

  gap: 1rem;
}

.app-header {
  /* to commit  */
  /* background-color: var(--tg-theme-secondary-bg-color); */
}

.app-content {
  flex: 1;
  /* to commit  */
  background-color: var(--tg-theme-secondary-bg-color);
}

.app-footer {
  /* to commit  */
  background-color: var(--tg-theme-secondary-bg-color);
}
